In [93]:
## 載入需要的模組

In [94]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [95]:
## 讀入資料

In [96]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submit = pd.read_csv('gender_submission.csv')

In [97]:
## 看一下資料內容

In [98]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [99]:
## 看缺失值的狀況

In [100]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [101]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [102]:
## 看資料的分布狀況

In [103]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [104]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [105]:
## 從上面觀察的結果，選取自己想要的特徵

In [106]:
selected_features = ['Pclass', 'Age', 'Parch' , 'Fare', 'Sex']

In [107]:
X_train = train[selected_features]

In [108]:
y_train = train['Survived']

In [109]:
X_test = test[selected_features]

In [110]:
## 處理缺失值

In [111]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
Pclass    891 non-null int64
Age       714 non-null float64
Parch     891 non-null int64
Fare      891 non-null float64
Sex       891 non-null object
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [112]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
Pclass    418 non-null int64
Age       332 non-null float64
Parch     418 non-null int64
Fare      417 non-null float64
Sex       418 non-null object
dtypes: float64(2), int64(2), object(1)
memory usage: 16.4+ KB

In [113]:
X_train['Age'].fillna(X_train['Age'].mean(), inplace=True)

X_test['Age'].fillna(X_test['Age'].mean(), inplace=True)
X_test['Fare'].fillna(X_test['Fare'].mean(), inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [114]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
Pclass    891 non-null int64
Age       891 non-null float64
Parch     891 non-null int64
Fare      891 non-null float64
Sex       891 non-null object
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [115]:
## 將字串類型的類別資料做轉換

In [116]:

X_train = pd.get_dummies(X_train)

In [117]:
X_train.head()

   Pclass   Age  Parch     Fare  Sex_female  Sex_male
0       3  22.0      0   7.2500           0         1
1       1  38.0      0  71.2833           1         0
2       3  26.0      0   7.9250           1         0
3       1  35.0      0  53.1000           1         0
4       3  35.0      0   8.0500           0         1

In [118]:
X_test = pd.get_dummies(X_test)

In [119]:
X_test.head()

   Pclass   Age  Parch     Fare  Sex_female  Sex_male
0       3  34.5      0   7.8292           0         1
1       3  47.0      0   7.0000           1         0
2       2  62.0      0   9.6875           0         1
3       3  27.0      0   8.6625           0         1
4       3  22.0      1  12.2875           1         0

In [120]:
## 使用 Keras Sequential

In [121]:
model = Sequential()

In [122]:
## 分層

In [123]:
model.add(Dense(units = 50, input_dim = 6, 
                kernel_initializer = 'uniform', 
                bias_initializer='zeros', 
                activation = 'relu'))

In [124]:
model.add(Dense(units = 20, 
                kernel_initializer = 'uniform',
                bias_initializer='zeros', 
                activation = 'relu'))

In [125]:
model.add(Dense(units = 1, 
                kernel_initializer = 'uniform',
                activation = 'sigmoid'))

In [126]:
## 訓練模型

In [127]:
model.compile(loss = 'binary_crossentropy', 
              optimizer = 'adam', 
              metrics=['accuracy'])

In [128]:
model.fit(X_train, y_train, validation_split=0.5, epochs=50)

Train on 445 samples, validate on 446 samples
Epoch 1/50
445/445 [==============================] - 1s 1ms/step - loss: 0.6873 - acc: 0.6090 - val_loss: 0.6772 - val_acc: 0.6413
Epoch 2/50
445/445 [==============================] - 0s 92us/step - loss: 0.6718 - acc: 0.6225 - val_loss: 0.6533 - val_acc: 0.6480
Epoch 3/50
445/445 [==============================] - 0s 95us/step - loss: 0.6512 - acc: 0.6337 - val_loss: 0.6234 - val_acc: 0.6906
Epoch 4/50
445/445 [==============================] - 0s 95us/step - loss: 0.6352 - acc: 0.6584 - val_loss: 0.5974 - val_acc: 0.6861
Epoch 5/50
445/445 [==============================] - 0s 92us/step - loss: 0.6277 - acc: 0.6562 - val_loss: 0.5887 - val_acc: 0.6861
Epoch 6/50
445/445 [==============================] - 0s 90us/step - loss: 0.6228 - acc: 0.6472 - val_loss: 0.5820 - val_acc: 0.7175
Epoch 7/50
445/445 [==============================] - 0s 103us/step - loss: 0.6185 - acc: 0.6494 - val_loss: 0.5800 - val_acc: 0.6928
Epoch 8/50
445/445 [==============================] - 0s 99us/step - loss: 0.6181 - acc: 0.6562 - val_loss: 0.5702 - val_acc: 0.7152
Epoch 9/50
445/445 [==============================] - 0s 115us/step - loss: 0.6119 - acc: 0.6517 - val_loss: 0.5690 - val_acc: 0.7220
Epoch 10/50
445/445 [==============================] - 0s 115us/step - loss: 0.6101 - acc: 0.6517 - val_loss: 0.5653 - val_acc: 0.7130
Epoch 11/50
445/445 [==============================] - 0s 97us/step - loss: 0.6041 - acc: 0.6517 - val_loss: 0.5591 - val_acc: 0.7377
Epoch 12/50
445/445 [==============================] - 0s 122us/step - loss: 0.5965 - acc: 0.6652 - val_loss: 0.5535 - val_acc: 0.7242
Epoch 13/50
445/445 [==============================] - 0s 95us/step - loss: 0.5911 - acc: 0.6719 - val_loss: 0.5491 - val_acc: 0.7197
Epoch 14/50
445/445 [==============================] - 0s 95us/step - loss: 0.5817 - acc: 0.6764 - val_loss: 0.5409 - val_acc: 0.7377
Epoch 15/50
445/445 [==============================] - 0s 97us/step - loss: 0.5710 - acc: 0.6719 - val_loss: 0.5351 - val_acc: 0.7444
Epoch 16/50
445/445 [==============================] - 0s 117us/step - loss: 0.5582 - acc: 0.6809 - val_loss: 0.5347 - val_acc: 0.7287
Epoch 17/50
445/445 [==============================] - 0s 108us/step - loss: 0.5398 - acc: 0.7011 - val_loss: 0.5156 - val_acc: 0.7803
Epoch 18/50
445/445 [==============================] - 0s 90us/step - loss: 0.5244 - acc: 0.7978 - val_loss: 0.5038 - val_acc: 0.7735
Epoch 19/50
445/445 [==============================] - 0s 97us/step - loss: 0.5163 - acc: 0.7708 - val_loss: 0.4976 - val_acc: 0.7735
Epoch 20/50
445/445 [==============================] - 0s 97us/step - loss: 0.5140 - acc: 0.7843 - val_loss: 0.4903 - val_acc: 0.7713
Epoch 21/50
445/445 [==============================] - 0s 95us/step - loss: 0.4911 - acc: 0.7955 - val_loss: 0.4870 - val_acc: 0.7735
Epoch 22/50
445/445 [==============================] - 0s 88us/step - loss: 0.4826 - acc: 0.7955 - val_loss: 0.4823 - val_acc: 0.7758
Epoch 23/50
445/445 [==============================] - 0s 114us/step - loss: 0.5180 - acc: 0.7820 - val_loss: 0.4898 - val_acc: 0.7780
Epoch 24/50
445/445 [==============================] - 0s 84us/step - loss: 0.4851 - acc: 0.7910 - val_loss: 0.5486 - val_acc: 0.7691
Epoch 25/50
445/445 [==============================] - 0s 104us/step - loss: 0.5086 - acc: 0.7798 - val_loss: 0.4805 - val_acc: 0.7735
Epoch 26/50
445/445 [==============================] - 0s 86us/step - loss: 0.4833 - acc: 0.8022 - val_loss: 0.4764 - val_acc: 0.7735
Epoch 27/50
445/445 [==============================] - 0s 95us/step - loss: 0.4770 - acc: 0.7955 - val_loss: 0.4954 - val_acc: 0.7780
Epoch 28/50
445/445 [==============================] - 0s 96us/step - loss: 0.4717 - acc: 0.7933 - val_loss: 0.4750 - val_acc: 0.7713
Epoch 29/50
445/445 [==============================] - 0s 92us/step - loss: 0.4750 - acc: 0.8000 - val_loss: 0.4723 - val_acc: 0.7735
Epoch 30/50
445/445 [==============================] - 0s 86us/step - loss: 0.4771 - acc: 0.7933 - val_loss: 0.4787 - val_acc: 0.7825
Epoch 31/50
445/445 [==============================] - 0s 96us/step - loss: 0.4693 - acc: 0.8000 - val_loss: 0.4778 - val_acc: 0.7825
Epoch 32/50
445/445 [==============================] - 0s 92us/step - loss: 0.4672 - acc: 0.8022 - val_loss: 0.4784 - val_acc: 0.7848
Epoch 33/50
445/445 [==============================] - 0s 86us/step - loss: 0.4692 - acc: 0.8000 - val_loss: 0.4796 - val_acc: 0.7848
Epoch 34/50
445/445 [==============================] - 0s 101us/step - loss: 0.4714 - acc: 0.7955 - val_loss: 0.4969 - val_acc: 0.7825
Epoch 35/50
445/445 [==============================] - 0s 108us/step - loss: 0.4683 - acc: 0.7955 - val_loss: 0.4668 - val_acc: 0.7758
Epoch 36/50
445/445 [==============================] - 0s 110us/step - loss: 0.4702 - acc: 0.8022 - val_loss: 0.4809 - val_acc: 0.7825
Epoch 37/50
445/445 [==============================] - 0s 98us/step - loss: 0.4654 - acc: 0.8000 - val_loss: 0.4690 - val_acc: 0.7825
Epoch 38/50
445/445 [==============================] - 0s 98us/step - loss: 0.4676 - acc: 0.7955 - val_loss: 0.4814 - val_acc: 0.7825
Epoch 39/50
445/445 [==============================] - 0s 99us/step - loss: 0.4669 - acc: 0.8000 - val_loss: 0.4692 - val_acc: 0.7870
Epoch 40/50
445/445 [==============================] - 0s 104us/step - loss: 0.4700 - acc: 0.7910 - val_loss: 0.4830 - val_acc: 0.7825
Epoch 41/50
445/445 [==============================] - 0s 115us/step - loss: 0.4770 - acc: 0.7888 - val_loss: 0.5086 - val_acc: 0.7825
Epoch 42/50
445/445 [==============================] - 0s 103us/step - loss: 0.5063 - acc: 0.7753 - val_loss: 0.4721 - val_acc: 0.7780
Epoch 43/50
445/445 [==============================] - 0s 116us/step - loss: 0.4863 - acc: 0.7933 - val_loss: 0.4823 - val_acc: 0.7848
Epoch 44/50
445/445 [==============================] - 0s 95us/step - loss: 0.4654 - acc: 0.8000 - val_loss: 0.4701 - val_acc: 0.7870
Epoch 45/50
445/445 [==============================] - 0s 108us/step - loss: 0.4640 - acc: 0.8000 - val_loss: 0.4645 - val_acc: 0.7825
Epoch 46/50
445/445 [==============================] - 0s 92us/step - loss: 0.4624 - acc: 0.8000 - val_loss: 0.4726 - val_acc: 0.7870
Epoch 47/50
445/445 [==============================] - 0s 107us/step - loss: 0.4615 - acc: 0.8000 - val_loss: 0.4647 - val_acc: 0.7870
Epoch 48/50
445/445 [==============================] - 0s 92us/step - loss: 0.4645 - acc: 0.7933 - val_loss: 0.4845 - val_acc: 0.7825
Epoch 49/50
445/445 [==============================] - 0s 89us/step - loss: 0.4620 - acc: 0.8000 - val_loss: 0.4614 - val_acc: 0.7825
Epoch 50/50
445/445 [==============================] - 0s 99us/step - loss: 0.4636 - acc: 0.7978 - val_loss: 0.5023 - val_acc: 0.7848

In [129]:
scores = model.evaluate(X_train, y_train)
scores[1]

891/891 [==============================] - 0s 42us/step

0.7912457921154438

In [130]:
## 用訓練好的模型來做預測

In [131]:
survived_predict = model.predict(X_test)
survived_predict = np.array(survived_predict)
survived_predict = np.round(survived_predict)
survived_predict

array([[0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.]], dtype=float32)

In [132]:
##將結果輸出成規定的格式

In [133]:
submission=pd.DataFrame({'PassengerId':test['PassengerId'], 'Survived':survived_predict[0:418,0]})

In [134]:
submission.to_csv('submission.csv', index=False)